.priority_task_item{
    border-bottom: 1px solid #e0dcdc;
}
.priority_task_checkbox_circle{
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: transparent;
    border: 1px solid #524e4e;
    position: relative;
}
.priority_task_checkbox_icon{
    position: absolute;
    left: -4px;
    top: -4px;
    display: none;
}
.priority_task_checkbox_btn:hover .priority_task_checkbox_icon{
    display: block;
}
.priority_task_checkbox_btn:hover .priority_task_checkbox_circle{
    background-color: #e5dbdb;
}

.priority_task_edit_btn{
    display: none;
}
.priority_task_item:hover .priority_task_edit_btn{
    display: block;
}


